.buttons_container {
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align items to the right */
  padding-right:2em;
  padding-top:1.5em;
}

.buttons_container > a {
  padding-left:2em;
}



